<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTPMUD_Project.Properties.Settings.Setting" connectionString="Data Source=LAPTOP-R68U37J3\SQLEXPRESS;Initial Catalog=CoffeeShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>